<div ng-controller="mainController">
  <div class="navigation">
    <br>
    <a href="#/"><div class="mini_profile">
    </div></a>

    <h3>Jeff Hedfors</h3>
    <hr>
    <div class="nav_links links">
      <a href="https://www.linkedin.com/in/jeff-hedfors"><img src="/images/Logo-White-21px-TM.png" alt="" /></a><br><br>
      <a href="https://github.com/jhedfors"><img class="github" src="/images/GitHub_temp.png" alt="" /></a><br><br>
      <!-- <h3>Projects</h3>
      <hr>
      <a href="#">Quotable Quotes</a> -->

    </div>
  </div>
  <div class="content">
    <p>
      <h1>PROJECTS</h1>
      <h2><a href="http://54.211.7.176" target="_blank">Quotable Quotes</a></h2>
      <p>
        Technologies used: Python, Flask, mySQL, Javascript, jQuery, HTML5, CSS3, MaterializeCSS (framework).
      </p>
      <p>
        This project is earned me a 'black belt' for the Python stack. To earn this, the project must be created and deployed to AWS within 4.5 hrs, while satisfying 95% of the functionality contained within a supplied wireframe. I subsequently added additional functionality to delete your own entry if it has not been favorited by anyone yet, as well as using a Modal to create the new entry.
      </p>
      <a href="http://54.211.7.176" target="_blank">Quotable Quotes</a>
      <p>
        You may register yourself, or use the guest credentials of:
        <ul>
          <li>Email: guest@user.com</li>
          <li>Guestuser1</li>
        </ul>
      </p>
    </p>
  </div>
</div>
